ul#policies-list{
    padding-left:0px;
    margin:0;
    > li {
        border:1px solid #efefef;
        padding:20px;
        margin:15px 0;
        background: rgb(248, 248, 248);
        list-style: none;

        &:hover{
        background: #efefef;
        }
        > a{

            font-size: 1.3em;
        }
        li{

            list-style-type: disc;
        }
    }
}

.propertiesList{
    .add-property-btn{
        margin:10px 0 0 0;
    }
}

#delete-property-btn{

    float:left;
}

.modal-dialog{
    .remove-header-btn{
        float:right;
    }
        .add-header-btn{
        margin-top:5px;
    }
}

    .headers .row{
        margin-bottom:10px;
    }

#policies-container{
    border-bottom: 1px #efefef solid;
    margin-bottom: 15px;
}

textarea.form-control{
    height:150px;
}

h3,h4{
    margin-top:0px;

}