ul#sessions-list {
  padding-left: 0px;
  margin: 0;
}
ul#sessions-list > li {
  border: 1px solid #efefef;
  margin: 15px 0;
  background: #f8f8f8;
  list-style: none;
}
ul#sessions-list > li:hover {
  border: 1px solid #bbb;
}
ul#sessions-list > li > a {
  font-size: 1.3em;
}
ul#sessions-list > li li {
  list-style-type: disc;
}
.rulesList {
  padding: 15px;
}
.rulesList .add-rule-btn {
  margin: 10px 0 0 0;
}
#delete-rule-btn {
  float: left;
}
.modal-dialog .remove-header-btn {
  float: right;
}
.modal-dialog .add-header-btn {
  margin-top: 5px;
}
.headers .row {
  margin-bottom: 10px;
}
#sessions-container {
  border-bottom: 1px #eee solid;
  margin-bottom: 15px;
}
textarea.form-control {
  height: 150px;
}
h3,
h4 {
  margin-top: 0px;
}
#sessions {
  border-top: 1px #eee solid;
}
.user-profile {
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-profile a {
  margin: 0px 20px;
}
.user-profile .logged-as {
  margin-right: 20px;
}
.tests-summary {
  padding: 15px;
}
.tests-summary button {
  margin-right: 5px;
}
.session-summary {
  background: #95a5a6;
  color: #fff;
  padding: 15px;
  font-size: 1.1em;
}
.session-summary a {
  color: #2c3e50;
}
textarea:invalid,
input:invalid {
  border: 1px solid red;
}
textarea:invalid:focus,
input:invalid:focus {
  border: 1px solid red;
}
